@import '../node_modules/materialize-css/dist/css/materialize.css';
@import "//fonts.googleapis.com/icon?family=Material+Icons" ;
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#nav{
  display:flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 2%;
  padding-right:2%;
  padding-bottom: 5%;
}
